body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(189, 199, 189);
}

canvas {
  position: absolute;
}

.test {
  height: auto;
  background-color: bisque;
  color: black;
  padding: 4em;
}  